<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__item footer__logo" routerLink="/home">
                <svg>
                    <use xlink:href="#bb-logo"></use>
                </svg>
            </div>
            <div class="footer__item footer__email-container" routerLink="/contacts">
                <div class="footer__email-icon">
                    <svg>
                        <use xlink:href="#message-icon"></use>
                    </svg>
                </div>
                <span class="footer__contact-text">
                    Leave us a message
                </span>
            </div>
            <div class="footer__item footer__phone-numbers-container">
                <a class="footer__phone-number" href="tel:+37428422401">+374 284 22401</a>
                <a class="footer__phone-number" href="tel:+37494022401">+374 94 022401</a>
            </div>
        </div>
        <div class="footer__row footer__row--last">
            <span class="footer__copyright">
                © 2017, Goris <br/>
                ./ on time by Augmentar CJSC
            </span>
        </div>
    </div>
</footer>