<section class="heading">
    <div class="heading__overlay">
        <div class="heading__container">
            <div class="heading__item heading__logo">
                <svg>
                    <use xlink:href="#bb-logo"></use>
                </svg>
            </div>
            <div>
                <h3 class="heading__slogan">
                    We are producing the best sandwich-panels in the region
                    <br/>for more than 10 years
                </h3>
            </div>
            <div>
                <button 
                    class="generic-button generic-button--yellow heading__button"
                    routerLink="/calculator"
                >
                    <div class="heading__calc-icon">
                        <svg>
                            <use xlink:href="#calculator-icon"></use>
                        </svg>
                    </div>
                    CALCULATE AND ORDER NOW
                </button>
            </div>
        </div>
    </div>
</section>
<section>
    
</section>
<section>
    
</section>
<section>
    
</section>