<app-icons></app-icons>
<app-loader *ngIf="!isReady">
</app-loader>

<div class="portfolio" *ngIf="isReady">
    <div class="portfolio__header page-header">
        <span class="portfolio__header-title page-title">
            OUR PORTFOLIO
        </span>
    </div>
    <div class="portfolio__projects-container">
        <ng-container *ngFor="let project of projects; let i = index">
            <div class="portfolio__project-block" (click)="openModal(i)">
                <div 
                    class="portfolio__project-image-container"
                    [ngStyle]="{'background-image': 'url(' + project.mainImageUrl.url + ')'}"
                >
                </div>
                <div class="portfolio__project-info-container">
                    <div class="portfolio__project-name">
                        {{project['name_' + sharedService.currentLanguage]}}
                    </div>
                    <div class="portfolio__project-description">
                        {{project['description_' + sharedService.currentLanguage]}}
                    </div>
                </div>
                <div class="portfolio__project-actions-container" *ngIf="project.imageUrls.length">
                    <span>
                        see more
                    </span>
                    <svg class="icon-something">
                        <use xlink:href="#icon-more"></use>
                    </svg>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<app-modal
    [id]="'projectImageViewer'"
>
    <app-image-viewer
        *ngIf="isModalReady"
        [images]="images"
    ></app-image-viewer>
</app-modal>