<app-icons></app-icons>
<app-loader *ngIf="!isReady">
</app-loader>

<div class="about" *ngIf="isReady">
    <div class="about__header page-header">
        <span class="about__header-title page-title">
            {{ 'aboutus' | translate }}
        </span>
    </div>
    <div class="about__container page-container">
        <div class="about__section section">
            <div class="about__section-header section-header">
                <div></div>
                <span>
                    {{ 'ourstory' | translate }}
                </span>
                <div></div>
            </div>
            <div class="about__section-text section-text">
                <span>
                    {{ 'story' | translate }}
                    
                </span>
            </div>
            <div class="about__story-picture">
            </div>
        </div>

        <div class="about__section section">
            <div class="about__section-header section-header">
                <div></div>
                <span>
                    {{'whatwedo' | translate }}
                </span>
                <div></div>
            </div>
            <div class="about__services-container about__section-text section-text">
                <div
                    *ngFor="let service of services"
                    class="about__service"
                >
                    <div class="about__service-header">
                        {{ service.title | translate }}
                    </div>
                    <div class="about__service-icon-container">
                        <svg
                            *ngIf="service['title'] === 'Production'" 
                            class="icon-toolbox about__service-icon"
                        >
                            <use xlink:href="#icon-toolbox"></use>
                        </svg>
                        <svg
                            *ngIf="service['title'] === 'Construction'" 
                            class="icon-construction about__service-icon"
                        >
                            <use xlink:href="#icon-construction"></use>
                        </svg>
                        <svg
                            *ngIf="service['title'] === 'Design and Consulting'" 
                            class="icon-sketch about__service-icon"
                        >
                            <use xlink:href="#icon-sketch"></use>
                        </svg>
                    </div>
                    
                    <div class="about__service-text">
                        {{service['copy'] | translate }}
                        <div
                            routerLink="/contacts/"
                            class="about__service-contact"
                        >
                            {{ 'contactus' | translate }}
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>

        <div class="about__section section">
            <div class="about__section-header section-header">
                <div></div>
                <span>
                    {{'whatweproduce' | translate }}
                </span>
                <div></div>
            </div>
            <div class="about__section-text section-text">
                <span> {{ 'whatweproduce1' | translate }}
                </span>
                <div class="about__products-block">
                    <span class="about__products-explore">
                        {{ 'exploreourproducts' | translate}}
                    </span>
                    <div class="about__products-items-container">
                        <div
                            *ngFor="let category of categories"
                            class="about__products-item"
                            [routerLink]="'/products/' + category._id"
                        >
                            <svg class="icon-wall about__products-item-icon">
                                <use 
                                    attr.xlink:href="{{category.iconName}}"
                                ></use>
                            </svg>
                            <span class="about__products-item-name">
                                {{category.name}}
                            </span>
                        </div>
                        <div 
                            class="about__products-item"
                            routerLink="/products"
                        >
                            <svg class="icon-more about__products-item-icon">
                                <use xlink:href="#icon-more"></use>
                            </svg>
                            <span class="about__products-item-name">
                                {{ 'more' | translate}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
