@import '../sass-dass/exports';

.contacts {
    &__header {
        background: url('../../assets/contacts-background.png');
        @include _(height, 60vh);
        @include _(position, relative);
        @include _(background-size, cover);
        @include _(display, flex);
        @include _(flex-direction, column);
        @include _(justify-content, center);
        @include _(align-items, center);
        @include _(font-family, play);
        @include _(color, white);
        & div {
            @include _(width, 60vw);
            @include breakpoint(mobile-tablet-view) {
                @include _(width, 100%);
                @include _(text-align, center);
            }
        }
        @include breakpoint(mobile-tablet-view) {
            @include _(height, 30vh);
        }
    }

    &__header-title {
        @include _(font-size, 30px);
    }

    &__header-subtitle {
        @include _(color, #073956);
    }

    &__footer {
        @include _(height, 45vh);
        @include breakpoint(mobile-tablet-view) {
            @include _(display, none);
        }
    }

    &__address-block-container {
        @include _(background-color, green);
        @include _(display, flex);
        @include _(justify-content, center);
        @include _(align-items, center);
        @include _(position, relative);
    }

    &__address-block {
        @include _(width, 60vw);
        @include _(background-color, white);
        @include _(position, absolute);
        @include _(top, -100px);
         -webkit-box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
        box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
        @include _(display, flex);
        @include breakpoint(mobile-tablet-view) {
            @include _(flex-direction, column);
            @include _(width, 100vw);
            @include _(height, auto);
            @include _(position, static);
        }
    }

    &__form {
        @include _(flex-basis, 60%);
        @include _(color, #1f445a);
        @include _(padding-right, 20px);
    }
    
    &__info {
        @include _(background-color, #1f445a);
        @include _(flex-basis, 40%);
        @include _(color, #cccccc);
        @include breakpoint(mobile-tablet-view) {
            @include _(padding-right, 20px);
            @include _(align-items, center);
            @include _(text-align, center);
        }
    }
    &__info,
    &__form {
        & h2 {
            @include _(align-self, flex-start);
            @include breakpoint(mobile-tablet-view) {
                @include _(align-self, center);
            }
        }
        & a {
            @include _(text-decoration, none);
            @include _(color, #cccccc);
        }
        & p {
            @include _(margin, 6px 0 10px 0);
        }
        & hr {
            @include _(width, 100%);
            @include _(opacity, 0.4);
        }
        @include _(padding-left, 20px);
        @include _(display, flex);
        @include _(flex-direction, column);
        @include _(font-family, cantarell);
    }

    &__form-block {
        @include _(display, flex);
        @include _(flex-direction, column);
        @include breakpoint(mobile-tablet-view) {
            @include _(padding-bottom, 30px);
        }
    }

    &__icon {
        @include _(padding-top, 7px);
    }

    &__send-message {
        @include _(padding-top, 40px);
        @include _(height, 40px);
        @include _(background-color, #476678);
        @include _(color, white);
        @include _(border-radius, 5px);
        @include _(font-size, 22px);
        @include _(font-family, cantarell);
        @include _(margin-top, 10px);
        @include _(border, none);
        @include _(outline, none);
        @include _(cursor, pointer);
        @include _(display, flex);
        @include _(justify-content, center);
        @include _(align-items, center);
        @include _(align-self, center);
        @include _(padding, 0 15px);
        &:hover {
            @include _(background-color, #1f445a);
        }
    }

    &__button-icon {
        @include _(width, 20px);
        @include _(height, 30px);
        @include _(margin-right, 10px);
        & svg {
            @include _(height, 100%);
            @include _(width, 100%);
        }
    }

    &__error {
        @include _(color, #ad2626);
        @include _(font-size, 12px);
        @include _(margin-top, -5px);
    }

    &__email-sent {
        @include _(display, flex);
        @include _(flex-direction, column);
        @include _(justify-content, center);
        @include _(align-items, center);
        @include _(flex, 1 1 auto);
        @include _(line-height, 30px);
        
        & p {
            @include _(text-align, center);
        }

        & a {
            @include _(cursor, pointer);
            @include _(color, #159a20);
        }

        &-icon {
            @include _(height, 40px);
            @include _(width, 40px);
            svg {
                @include _(height, 100%);
                @include _(width, 100%);
            }
        }

        @include breakpoint(mobile-tablet-view) {
            @include _(padding-bottom, 30px);
        }

    }
}

.error-input {
    @include _(border, 1px solid #ad2626);
}
