<app-icons></app-icons>
<div class="contacts">
    <div class="contacts__header">
        <div>
            <h2 class="contacts__header-title"> {{'getintouch' | translate}}</h2>
            <h3 class="contacts__header-subtitle">
                {{'touchtext' | translate }}
            </h3>
        </div>
    </div>
    <div class="contacts__address-block-container">
        <div class="contacts__address-block">
            <div class="contacts__form">
                <h2>{{'sendus' | translate}}</h2>
                <div class="contacts__form-block" *ngIf="showForm">
                    <label for="contacter-name"> {{'yourname' | translate}}</label>
                    <input [(ngModel)]="formObject['name']" type="text" id="contacter-name" (input)="validateOnInput('name')" [ngClass]="{'error-input' : formErrors['name']}">
                    <div *ngIf="formErrors['name']" class="contacts__error">
                        Fill in your name
                    </div>
                    
                    <label for="contacter-email">{{'email' | translate}}</label>
                    <input [(ngModel)]="formObject['email']" type="input" id="contacter-email" (input)="validateOnInput('email')" [ngClass]="{'error-input': formErrors['email']}">
                    <div *ngIf="formErrors['email']" class="contacts__error">
                        {{'validemail' | translate}}
                    </div>
                    
                    
                    <label for="contacter-message"> {{ 'message' | translate }}</label>
                    <textarea [(ngModel)]="formObject['message']" name="contacter-message" id="contacter-message" cols="30" rows="10" (input)="validateOnInput('message')"
                        [ngClass]="{'error-input': formErrors['message']}"></textarea>
                    <div *ngIf="formErrors['message']" class="contacts__error">
                        Fill in your message
                    </div>
                    <button (click)="validate()" class="contacts__send-message">
                        <div class="contacts__button-icon">
                            <svg class="icon-something">
                                <use xlink:href="#icon-paper-plane-o"></use>
                            </svg>
                        </div>
                        <span>
                            {{'sendmessage' | translate }}
                        </span>
                    </button>
                </div>
                <div *ngIf="!showForm" class="contacts__email-sent">
                    <div class="contacts__email-sent-icon">
                        <svg class="icon-checked">
                            <use xlink:href="#icon-check-circle-o"></use>
                        </svg>
                    </div>
                    <p>{{ 'thankyou' | translate }}
                        <br> {{ 'beensent' | translate }}
                        <br>{{'ifneeded' | translate }}/p>
                    <a (click)="showForm = true"> {{'sendanother' | translate }}</a>
                </div>
            </div>

            <div class="contacts__info">
                <h2>{{'information' | translate }}</h2>

                <div class="contacts__location-icon contacts__icon">
                    <svg class="icon-checked">
                        <use xlink:href="#icon-locationn"></use>
                    </svg>
                </div>
                <p>{{ 'address1' | translate }}</p>
                <p>{{ 'address2' | translate }}</p>
                <hr>
                <div class="contacts__phone-icon contacts__icon">
                    <svg class="icon-checked">
                        <use xlink:href="#icon-phone"></use>
                    </svg>
                </div>
                <p>
                    <a href="">+374 284 22401</a>
                </p>
                <p>
                    <a href="">+374 94 022401</a>
                </p>
                <hr>
                <div class="contacts__email-icon contacts__icon">
                    <svg class="icon-checked">
                        <use xlink:href="#icon-at-sign"></use>
                    </svg>
                </div>
                <p>
                    <a href="">info@bonusbuilding.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="contacts__footer">

    </div>
</div>
