<app-icons></app-icons>
<div class="contacts">
    <div class="contacts__header page-header">
        <span class="contacts__header-title page-title">
            CONTACTS
        </span>
    </div>

    <div class="contacts__container page-container">
        <section class="contacts__section section">
            <div class="section-header">
                <div></div>
                <span>
                    Our addresses
                </span>
                <div></div>
            </div>
            <div class="contacts__address">
                <div>
                    <svg class="icon-locationn">
                        <use xlink:href="#icon-locationn"></use>
                    </svg>
                </div>
            </div>
        </section>

        <section class="contacts__section section">
            <div class="section-header">
                <div></div>
                <span>
                    Contact phones and emails
                </span>
                <div></div>
            </div>
        </section>

        <section class="contacts__section section">
            <div class="section-header">
                <div></div>
                <span>
                    Write us directly
                </span>
                <div></div>
            </div>
        </section>
    </div>
</div>