<app-icons></app-icons>
<app-loader *ngIf="!isReady"></app-loader>

<div class="products" *ngIf="isReady">
    <div class="products__header page-header">
        <span class="products__header-title page-title">
            Products
        </span>
    </div>

    <div class="products__filter-menu-container">
        <div class="products__filter-menu">
            <div 
                class="products__filter-item"
                [ngClass]="{'products__filter-item--selected': selectedCategoryId === category._id}"
                *ngFor="let category of categories"
                (click)="selectCategory(category._id)"
            >
                {{category.name}}
            </div>
        </div>
    </div>


</div>