<div class="products">
    <div class="products__header page-header">
        <span class="products__header-title page-title">
            {{title}}
        </span>
    </div>

    <div class="products__container">
        <div  class="products__filters-container">
            <div #filters class="products__filters-inner-container">
                <div 
                    class="products__filter-item"
                    routerLink="/products"
                    [ngClass]="{'products__filter-item--selected': !productId && productId !== 0}"
                >
                    <span>
                        All products
                    </span>
                </div>
                <div 
                    *ngFor="let item of categories"
                    class="products__filter-item"
                    [routerLink]="['/products', item.id]"
                    routerLinkActive="products__filter-item--selected"
                >
                    <span>
                        {{item.name}}
                    </span>
                </div>
            </div>
        </div>
        
        <div class="products__items-container">
            <app-product-details
                [productId]="productId"
                [currentProducts]="currentProducts"
            ></app-product-details>
        </div>
    </div>



























    <!-- <div class="products__filters">
        <div class="products__filter-container">
            <div class="products__filter">
            </div>
        </div>
    </div> -->
</div>




