<div class="products">
    <div class="products__header">
        <span class="products__header-title">
            PRODUCTS
        </span>
    </div>
    <div class="products__filters">
        <div class="products__filter-container">
            <div class="products__filter">
                <div class="products__filter-separator products__filter-separator--right"></div>
                <div class="products__filter-separator products__filter-separator--bottom"></div>
            </div>
            <div class="products__filter">
            
            </div>
            <div class="products__filter">
            
            </div>
            <div class="products__filter">
            
            </div>
            <div class="products__filter">
            
            </div>
            <div class="products__filter">
            
            </div>
            <div class="products__filter">
            
            </div>
            <div class="products__filter">
            
            </div>
        </div>
    </div>
</div>


<app-product-details
    *ngIf="productId || productId === 0"
    [productId]="productId"
></app-product-details>

