<div class="projects">
    <div class="projects__header">
        {{ 'recentprojects' | translate }}
        <hr class="projects__hr">
    </div>
    <div class="projects__project-container">
        <div class="projects__sidebar">
            <div 
                *ngFor="let project of projects; let i = index"
                (click)="setActive(i)"
                class="projects__item"
                [ngClass]="{'projects__item--active': currentProjectIndex === i}"
            >
                {{project['name_' + sharedService.currentLanguage]}} <br>
                <span>{{project['description_' + sharedService.currentLanguage] | textShortener:40}}</span>
            </div>
        </div>
        <div 
            class="projects__image-container"
            [ngStyle]="{'background': 'url(' + projects[currentProjectIndex]['mainImageUrl']['url'] + ')'}"
        >
            <div class="projects__action">
                <button
                    [routerLink]="['/portfolio']"
                >{{'exploredetails' | translate }}</button>
            </div>
        </div>
    </div>
</div>