<div class="projects">
    <div class="projects__header">
        RECENT PROJECTS
        <hr class="projects__hr">
    </div>
    <div class="projects__project-container">
        <div class="projects__sidebar">
            <div 
                *ngFor="let project of projects; let i = index"
                (click)="setActive(i)"
                class="projects__item"
                [ngClass]="{'projects__item--active': currentProjectIndex === i}"
            >
                {{project.name}} <br>
                <span>{{project.description | textShortener:40}}</span>
            </div>
        </div>
        <div 
            class="projects__image-container"
        >
            <img src="{{projects[currentProjectIndex].mainImageUrl.url}}" alt="">
            <div class="projects__action">
                <button
                    [routerLink]="['/portfolio']"
                >EXPLORE DETAILS</button>
            </div>
        </div>
    </div>
</div>