<app-icons></app-icons>
<div class="home-products" (mouseover)="stopAnimation()" (mouseleave)="startAnimation()">
    <div class="home-products__header">
        OUR PRODUCTS
        <hr class="home-products__hr">
    </div>
    
    <ng-container 
        *ngFor="let product of products; let i = index"  
    >
        <div *ngIf="i === currentProductIndex"
            class="home-products__product-container"
        >
            <div 
                class="home-products__arrow"
                (click)="changeProduct(i - 1)"
            >
                <svg class="icon-something">
                    <use xlink:href="#icon-angle-left"></use>
                </svg>
            </div>
            <div class="home-products__description">
                <div class="home-products__name">
                    {{product.name}}
                </div>
                <div class="home-products__details">
                    {{product.description | textShortener:240}}
                </div>
                <div class="home-products__buttons">
                    <button
                        [routerLink]="['/products/' + product.category._id]"
                    >
                        More Info
                    </button>
                </div>
            </div>
            <div 
                class="home-products__image-container"
                [ngStyle]="{'background-image': 'url(' + product.imageUrl + ')'}"
            >
            </div>
            <div 
                class="home-products__arrow"
                (click)="changeProduct(i + 1)"
            >
                <svg class="icon-something">
                    <use xlink:href="#icon-angle-right"></use>
                </svg>
            </div>
            <div class="home-products__next-previous-container">
                <div 
                    class="home-products__next-previous"
                    (click)="changeProduct(i - 1)"
                >
                    <svg class="icon-something">
                        <use xlink:href="#icon-angle-left"></use>
                    </svg>
                    <span>Previous</span>
                </div>
                <div 
                    class="home-products__next-previous"
                    (click)="changeProduct(i + 1)"
                >
                    <span>Next</span>
                    <svg class="icon-something">
                        <use xlink:href="#icon-angle-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="home-products__slider">
        <div
            *ngFor="let item of products; let i = index"
            (click)="changeProduct(i)"
            class="home-products__slider-item"
            [ngClass]="{'home-products__slider-item--active' : currentProductIndex === i}"
        >
        </div>
    </div>
</div>
