@import '../src/app/sass-dass/_exports.scss';

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",helvetica,sans-serif;
}

.navOpened {
    @include _(overflow, hidden);
}

.modal-open {
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

.page-header {
    @include _(height, 225px);
    @include _(display, flex);
    @include _(justify-content, center);
    @include _(align-items, center);
}

.page-title {
    @include _(font-size, 35px);
    @include _(font-family, quicksand);
    @include _(text-transform, uppercase);
    @include _(text-align, center);
    @include breakpoint(mobile-view) {
        @include _(padding, 0 10px);
        @include _(font-size, 26px);
    }
}

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}

.page-container {
    @include _(display, flex);
    @include _(flex-direction, column);
    @include _(align-items, center); 
    @include _(padding-top, 20px);
}

.section {
    @include _(border-radius, 5px);
    @include _(width, 70%); 
    @include _(padding, 30px 50px);
    @include _(margin-bottom, 20px);
    @include _(background-color, white);
    -webkit-box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 26px -10px rgba(0,0,0,0.75);
}

.section-header {
    @include _(display, flex);
    @include _(justify-content, center);
    @include _(align-items, center);
    @include _(font-size, 30px);
    @include _(font-family, play);
    @include _(margin-bottom, 30px);
    @include _(text-align, center);
    & div {
        @include _(width, 35px);
        @include _(margin, 0 20px);
        @include _(height, 2px);
        @include _(background-color, black);
    }
}

.section-text {
    @include _(color, #3c3c3c);
    @include _(line-height, 1.7);
    @include _(font-family, assistant);
    @include breakpoint(desktop-view) {
        @include _(font-size, 22px);
    }
    @include breakpoint(mobile-tablet-view) {
        @include _(font-size, 16px);
        @include _(text-align, center);
    }
}

input {
    @include _(height, 35px);
}

input, textarea {
    @include _(padding-left, 10px);
    @include _(border, 1px solid #20445a);
    @include _(border-radius, 4px);
    @include _(outline, none);
    @include _(font-size, 16px);
    @include _(color, #20445a);
    @include _(margin-bottom, 12px);
    @include _(font-family, cantarell);
}

textarea {
    @include _(height, 80px);
    @include _(resize, none);
}

label {
    @include _(font-size, 15px);
    @include _(margin-bottom, 5px);
    @include _(color, #20445a);
    @include _(font-family, assistant);
}

h6 {
    @include _(font-size, 16px !important);
}
h5 {
    @include _(font-size, 18px !important);
}
h4 {
    @include _(font-size, 20px !important);
}
h3 {
    font-size: 21px !important;
}
h2 {
    @include _(font-size, 22px !important);
}
h1 {
    @include _(font-size, 23px !important);
}

table, th, td {
    border: 1px solid black !important;
    border-collapse: collapse !important;
}