<nav class="navigation">
    <a class="navigation__link" routerLink="/home" routerLinkActive="navigation__link--active">HOME PAGE</a>
    <a class="navigation__link" routerLink="/products" routerLinkActive="navigation__link--active">PRODUCTS</a>
    <a class="navigation__link" routerLink="/installation" routerLinkActive="navigation__link--active">INSTALLATION</a>
    <a class="navigation__link" routerLink="/portfolio" routerLinkActive="navigation__link--active">PORTFOLIO</a>
    <a class="navigation__link" routerLink="/partners" routerLinkActive="navigation__link--active">PARTNERS</a>
    <a class="navigation__link" routerLink="/about" routerLinkActive="navigation__link--active">ABOUT US</a>
    <a class="navigation__link" routerLink="/contacts" routerLinkActive="navigation__link--active">CONTACT US</a>
</nav>