<nav class="navigation">

    <ul class="navigation__list">
        <li 
            *ngFor="let item of navigationItems"
            class="navigation__item"
            routerLink="{{item.routerLink}}"
            routerLinkActive="navigation__item--active"
            [ngClass]="{'navigation__item--products': item.name === 'products'}"
        >
            {{item.name | translate}}
        </li>
        <div 
            class="submenu"
            [ngClass]="{'submenu--hidden': isSubmenuHidden}"
        >
            <div 
                *ngFor="let item of productsSubmenuItems"
                class="submenu__item"
                [routerLink]="['/products', item._id]"
                routerLinkActive="submenu__item--active"
            >
                <div class="submenu__item-icon-container">
                    <svg class="icon-wall submenu__icon">
                        <use
                            attr.xlink:href="{{item.iconName}}"
                        ></use>
                    </svg>
                </div>
                <div class="submenu__item-name">{{item['name_' + sharedService.currentLanguage]}}</div>
            </div>
            <div class="submenu__calculator">
                <button
                    routerLink="/calculator"
                    class="submenu__calculator-button"
                >
                    ORDER NOW
                </button>
                <div class="submenu__calculator-text">
                    Request an order directly from our website
                </div>
            </div>
        </div>
    </ul>
    <div class="navigation__language-bar">
        <a 
            *ngFor="let item of languages; let ind = index"
            (click)="changeLanguage(ind)"
            [ngClass]="{'navigation__language--selected': currentLanguage === ind}"
            class="navigation__language"
        >
            {{item}}
        </a>
    </div>
</nav>

<nav class="nav-mobile">
    <div 
        id="nav-icon4" 
        (click)="navMobileClickHandler()" 
        class="nav-mobile__hamburger"
        [ngClass]="{'open': mobileNavOpen}"
    >
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div *ngIf="mobileNavOpen" class="nav-mobile__container">
        <ul class="navigation__list">
            <li
                *ngFor="let item of navigationItems" 
                class="navigation__item" 
                routerLink="{{item.routerLink}}"
                routerLinkActive="navigation__item--active"
            >{{item.name}}</li>
        </ul>
        <div class="navigation__mobile-language-bar">
            <a 
                *ngFor="let item of languages; let ind = index"
                (click)="changeLanguage(ind)" 
                [ngClass]="{'navigation__language--selected': currentLanguage === ind}"
                class="navigation__language navigation__language--mobile"
            >
                {{item}}
            </a>
        </div>
    </div>
</nav>
