<nav class="navigation">

    <ul class="navigation__list">
        <li 
            *ngFor="let item of navigationItems"
            class="navigation__item"
            routerLink="{{item.routerLink}}"
            routerLinkActive="navigation__item--active"
            [ngClass]="{'navigation__item--products': item.name === 'PRODUCTS'}"
        >
            {{item.name}}
        </li>
        <div class="submenu">
            <div 
                *ngFor="let item of productsSubmenuItems"
                class="submenu__item"
                [routerLink]="[item.routerLink, item.id]"
                routerLinkActive="submenu__item--active"
            >
                <div class="submenu__item-icon-container">
                    <img src="{{item.src}}" class="submenu__item-icon">
                </div>
                <div class="submenu__item-name">{{item.name}}</div>
            </div>
            <div class="submenu__calculator">
                <button
                    routerLink="/calculator"
                    class="submenu__calculator-button"
                >
                    CALCULATE NOW
                </button>
                <div class="submenu__calculator-text">
                    Use our calculator to find out what you need
                </div>
            </div>
        </div>
    </ul>
    <div class="navigation__language-bar">
        <a 
            *ngFor="let item of languages; let ind = index"
            (click)="changeLanguage(ind)" 
            [ngClass]="{'navigation__language--selected': currentLanguage === ind}"
            class="navigation__language"
        >
            {{item}}
        </a>
    </div>
</nav>
