<div class="home-clients">
    <img routerLink="/partners" src="http://livedemo00.template-help.com/wt_58940/images/home-8-170x75.png" class="home-clients__logo">
    <img routerLink="/partners" src="http://static.livedemo00.template-help.com/wt_58940/images/home-7-170x75.png" class="home-clients__logo">
    <img routerLink="/partners" src="http://livedemo00.template-help.com/wt_58940/images/home-9-170x75.png" class="home-clients__logo">
    <img routerLink="/partners" src="http://livedemo00.template-help.com/wt_58940/images/home-10-170x75.png" class="home-clients__logo">
    <img routerLink="/partners" src="http://livedemo00.template-help.com/wt_58940/images/home-11-170x75.png" class="home-clients__logo">
</div>
