<app-icons></app-icons>
<div class="install">
    <div class="install__header page-header">
        <span class="install__header-title page-title">
            {{ 'installation' | translate }}
        </span>
    </div>

    <div class="install__container page-container">
        <div class="install__content-container section">
            <div class="install__icon-container">
                <div class="install__icon">
                    <svg id="loading" viewbox="0 0 100 80">
                        <defs>
                            <linearGradient id="gradient" x1="100%" y1="0%" x2="0%" y2="100%">
                                <stop offset="0%" stop-color="#4383b8" />
                                <stop offset="100%" stop-color="#4aa06c" />
                            </linearGradient>
                    
                            <clipPath id="rects">
                                <rect class="rect" id="rect1" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                                <rect class="rect" id="rect2" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                                <rect class="rect" id="rect3" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                                <rect class="rect" id="rect4" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                                <rect class="rect" id="rect5" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                                <rect class="rect" id="rect6" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                                <rect class="rect" id="rect7" x="0" y="0" width="30" height="30" rx="2" ry="2" />
                            </clipPath>
                        </defs>
                        <rect id="container" transform="translate(50) scale(0.707, 0.707) rotate(45)" x="0" y="0" width="100" height="100" fill="url(#gradient)"
                            clip-path="url(#rects)">
                        </rect>
                    </svg>
                </div>
            </div>
            <div class="section-header">
                <div></div>
                <span>
                    {{ 'installhowto' | translate }}
                    How sandwich panels are installed?
                </span>
                <div></div>
            </div>
            <p class="install__content section-text"> 
                {{'installdesc' | translate }}
            </p>
        </div>
    </div>
    <div class="install__carusel">
        <div
            (mousedown)="mousedown('left')"
            (mouseup)="mouseup()"
            (mouseleave)="mouseup()"
            (click)="scrollTo('left')"
            class="install__carusel-arrow install__carusel-arrow--left"
        >
            <svg class="arrow-icon icon-angle-left"><use xlink:href="#icon-angle-left"></use></svg>
        </div>
        <div #carusel class="install__images-container">
            <div
                *ngFor="let image of images; let i = index"
                [ngStyle]="{
                    'background': 'url(' + image.image + ')',
                    'background-size': 'contain',
                    'background-repeat': 'no-repeat',
                    'background-position': 'center'
                }"
                class="install__image"
                (click)="open(i)"
            >
                <div>
                    <svg class="magnifier-icon icon-search-plus">
                        <use xlink:href="#icon-search-plus"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div
            (mousedown)="mousedown('right')"
            (mouseup)="mouseup()"
            (mouseleave)="mouseup()"
            (click)="scrollTo('right')" 
            class="install__carusel-arrow install__carusel-arrow--right"
        >
            <svg class="arrow-icon icon-angle-left"><use xlink:href="#icon-angle-right"></use></svg>
        </div>
    </div>
    
</div>

<app-modal
    [id]="'imageViewer'"
>
    <app-image-viewer
        [images]="images"
        [currentIndex]="currentImageIndex"
    ></app-image-viewer>
</app-modal>